* {
    background-color: #7879f1;
    position: relative;
}

h3{
    text-align: center;
}

p{
    background-color: #a3a1e1;

}

.body{
    width: 110%;
    height: 500px;
    margin-left: -10px;
    background-color: white;
    position: absolute;
    overflow: scroll;
}

.small_container{
    background-color: #a3a1e1;
    width: 300px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 1px;
    text-align: center;
    
}

.footer{
    margin-top: 515px;
    width: 110%;
    margin-left: -10px;
    margin-bottom: -20px;
    padding-bottom: 10px;

}

button{
    height: 25px;
    margin-left: 50px;
    margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
